@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Controle de Produtos</h1>
</div>

<div class="container">
    <div class="col">
        <div class="row">
            <div class="col-sm-4">
                <button class="btn btn-default"><p>@Html.ActionLink("Cadastrar Produto", "CadastrarProduto", "Produtos")</p></button>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-4">
                <a><button class="btn btn-info"><p>@Html.ActionLink("Listar produtos", "ListaProdutos", "Produtos")</p></button></a>
            </div>
        </div>
    </div>
</div>